<h1>Upload a new photo</h1>
<form action="/photos" method="POST" enctype="multipart/form-data">
  <label>Title</label>
    <input type="text" name="title">
    <br/><br/>
  <label>Description</label>
    <input type="text" name="photo_desc">
    <br/><br/>
  <label>File</label>
    <input type="file" name="file">
    <br/><br/>
  <label>Album</label>
    <input type="text" name="album_name"></input>
    <br/><br/>
  <input type="submit" value="Upload photo"</input>
</form>